<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.circuitrocks.mint.noisedetector">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NoiseAlertDialogActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/app_name">
        </activity>

        <service
            android:name=".NoiseAlertService"
            android:exported="true"></service>


        <service
            android:name=".PermissionService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <!--  <receiver
              android:name=".NoiseAlertReceiver"
              android:enabled="true" >

              <intent-filter>
                  <action android:name="android.intent.action.MAIN"/>
                  <action android:name="android.intent.action.BOOT_COMPLETED"/>
                  <category android:name="android.intent.category.HOME"/>
              </intent-filter>
          </receiver>-->

        <receiver
            android:name=".ServiceStarter"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>